google-cloud-aiplatform==1.43.0
watchdog==3.0.0
streamlit==1.32.0
langchain==0.1.11
google-cloud-aiplatform[preview]
google-cloud-secret-manager==2.18.3
vertexai==0.0.1
langchainhub==0.1.15
langchain-community==0.0.27
langchain-google-vertexai==0.1.0