google-cloud-aiplatform==1.39.0
watchdog==3.0.0
streamlit==1.30.0
langchain==0.1.9
google-cloud-aiplatform[preview]
google-cloud-secret-manager==2.17.0
vertexai==0.0.1
langchainhub==0.1.14
langchain-community==0.0.24
langchain-google-vertexai==0.0.2