google-cloud-aiplatform==1.47.0
watchdog==4.0.0
streamlit==1.33.0
langchain==0.1.16
google-cloud-aiplatform[preview]
google-cloud-secret-manager==2.19.0
# vertexai==1.46.0
langchainhub==0.1.15
langchain-community==0.0.32
langchain-google-vertexai==0.1.3